ENVIRONMENT = development
DEBUG = True

# Database & Cache
MONGO_URI=mongodb://admin:aingo@localhost:27017
MONGO_DB_NAME=ai-engine
REDIS_URL=redis://localhost:6379/0

# Azure
AZURE_API_KEY=
AZURE_API_BASE=
AZURE_API_VERSION=

# OpenAI
OPENAI_API_KEY=

# Anthropic
ANTHROPIC_API_KEY=