ENVIRONMENT=development
DEBUG=True

AZURE_API_KEY=
AZURE_API_BASE=
AZURE_API_VERSION=2024-12-01-preview
AZURE_MODEL_NAME=azure/gpt-4.1

LANGFUSE_SECRET_KEY = 
LANGFUSE_PUBLIC_KEY = 
LANGFUSE_BASE_URL = 
LANGFUSE_HOST = 