fastapi
uvicorn
transformers
accelerate
sentence-transformers
torch
openai
pydantic
pydantic-settings
python-multipart
crewai[tools]
qdrant-client[fastembed]
pytest
FlagEmbedding
python-dotenv
numpy
litellm